# Phase 2 (Extraction)
pandas>=2.2
openpyxl>=3.1
numpy>=1.26
PyYAML>=6.0

# Phase 3-4 (Qualité, Historisation)
SQLAlchemy>=2.0
pg8000>=1.31
python-dotenv>=1.0

# Phase 8 (Machine Learning) 
scikit-learn>=1.4
shap>=0.45

#Phase 9 (Agent conversationnel)
mistralai==2.5.1
